#!/usr/bin/env xdg-open
[Desktop Entry]
Name=eduActiv8
GenericName[ar]=انشطة تعليمية للاطفال 
GenericName[bg]=Образователни дайности за деца
GenericName[ca]=Paquet d'activitats educatives per nens i nenes
GenericName[de]=Lernpaket für Kinder
GenericName[el]=Εκπαιδευτικές δραστηριότητες για παιδιά
GenericName[en_GB]=Educational Activities for Kids
GenericName[en_US]=Educational Activities for Kids
GenericName[es_ES]=Paquete de actividades educativas para niños
GenericName[fr]=Ensemble d'activités éducatives pour les enfants
GenericName[it]=Attività educative per ragazzi
GenericName[lkt]=Wakȟáŋyeža Wóuŋspe Wóečhuŋ
GenericName[ml]=Educational Activities for Kids
GenericName[nl]=Educatieve activiteiten voor kinderen
GenericName[pl]=Zbiór edukacyjnych zadań
GenericName[ru]=Образовательный пакет для детей
GenericName[sr]=Комплет образовних активности за дечицу
GenericName[uk]=Освітні вправи для дітей
GenericName=Educational Activities for Kids
Comment[ar]=مجموعة من الانشطة التعليمية للاطفال
Comment[bg]=Колекция от образователни дейности за деца
Comment[ca]=Un petit conjunt d'aplicacions educatives per a nens
Comment[de]=Eine kleine Auswahl an Lernprogrammen für Kinder
Comment[el]=Συλλογή εκπαιδευτικών δραστηριοτήτων για παιδιά
Comment[en_GB]=A collection of educational activities for kids
Comment[en_US]=A collection of educational activities for kids
Comment[es_ES]=Un conjunto de aplicaciones educativas para niños
Comment[fi]=Pieni kokoelmia opettavaisia sovelluksia lapsille
Comment[fr]=Un petit ensemble d'applications éducatives pour les enfants
Comment[he]=יישומים לימודיים לילדים
Comment[it]=Una raccolta di attività educative per ragazzi
Comment[lkt]=Wakȟáŋyeža wóuŋspe wóečhuŋ omnáye waŋ
Comment[ml]=A collection of educational activities for kids
Comment[nl]=Een verzameling van educatieve activiteiten voor kinderen
Comment[pl]=Zbiór programów edukacyjnych dla dzieci
Comment[pt_BR]=Um pequeno conjunto de aplicativos educacionais para crianças
Comment[pt_PT]=Um pequeno conjunto de aplicativos educacionais para crianças
Comment[ru]=Небольшой набор образовательных программ для детей
Comment[sr]=Малени скуп образовних програма за дечицу
Comment[uk]=Невеличкий набір освітніх програм для малят
Comment=A collection of educational activities for kids
Exec=eduactiv8
Icon=eduactiv8
Terminal=false
Type=Application
Categories=Game;KidsGame;
Keywords=edu;game;kid;
